body {
  /* Background-color: #FFD93D, word: size 18px, family Arial, sans-serif, align center , color #333*/
}

.container {
  padding: 20px;
  margin: 30px auto;
  width: 70%;
  /* background color #fff, border-radius: 10px */
}

 
/* h1 color:#FF6B6B ,word: 36px, bold  */

/*  h2 color: #4D96FF,28px  */

img {
  margin: 15px 0;
  width: 200px;
  /* width: 200px height auto, borderradius 10px */
}

ul, ol {
  margin: 15px auto;
  /* width: fit-content,align left */
}

a {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #fff;
  background-color: #FF6B6B;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

a:hover {
  background-color: #4D96FF;
}
